<script>
export default {
  props: {
    msg: String,
  },
  data() {
  	return {
	    task: '',
      editedTask: null,
    	items: [
        {
          name: 'this is a task made by me!' },
        {
          name: 'this is another task also made by me. '
        },
      ]
  	}
	},

  methods: {
    addTask(){
      if(this.task.length === 0) return;
      
      if(this.editedTask === null){
        this.items.push({
          name: this.task
        })
        this.task = '';
      }
      else {
        this.items[this.editedTask].name =this.task;
        this.editedTask =null;
      }
    },

    deleteTask(index){
      this.items.splice(index, 1);
    },

    editTask(index){
      this.task = this.items[index].name; 
      this.editedTask = index;
    }
  }
}
</script>

<template>
  <div>
    <!--header-->
    <h2 class="h2">Hello And Welcome To A Simple Todo App!</h2>

    <!--input-->
    <div class="padding">
      <input v-model="task" type="text" placeholder="Enter task" class="input">
      <button @click="addTask" class="button">Add</button>
    </div>

    <!--table-->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">task</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in items">
          <td>{{ item.name }}</td>
          <td class="glyphicon glyphicon-pencil pen" @click="editTask(index)"></td>
          <td class="glyphicon glyphicon-trash trash" @click="deleteTask(index)"></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped>
.h2 {
  font-family: "Lucida Console", "Courier New", monospace;
}
.input {
  border-radius: 8px;
  font-size: 16px;
  padding: 12px 20px;
  border: 2px solid black;
  box-sizing: border-box;
  width: 80%;
}
.button {
  border-radius: 8px;
  font-size: 16px;
  padding: 12px;
  border: 2px solid black;
  background-color: rgb(93, 214, 255);
  color: black;
  text-align: center;
  cursor: pointer;
}
.table {
  padding: 70px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.padding {
  padding: 70px;
}
.margin {
  margin: auto;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.pen {
  cursor: pointer;
  margin: auto;
  left: 7%;
}
.trash {
  cursor: pointer;
  margin: auto;
  left: 83%;
}
</style>
